@import "../../../styles/global.scss";

.sections-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  height: 500px;
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.section-image {
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.section-mens {
  background-color: #000;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.section-womens {
  background-color: #000;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.section-how-to {
  background-color: #000;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.section-trends {
  background-color: #000;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.section-heading {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: #fff;
}

.section-link {
  text-transform: uppercase;
  color: $accent-color;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

@media (min-width: 790px) {
  .sections-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 3;
    height: 500px;
  }

  .section-mens {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }

  .section-womens {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
  }

  .section-how-to {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .section-trends {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }
}
